@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h1>Principal</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Views/Img/users.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
                @Html.ActionLink("Particular", "Index", "Clientes",null,new{@class= "btn btn-primary" }) 
                @Html.ActionLink("Corporativo", "IndexCorp", "Clientes",null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>